@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

:root {
    --background: #f8f9fa;
    --secondary-color: #f4f4f460;
    --secondary-background: #e6e6e6;
    --primary-text: #1a1a1a;
    --secondary-text: #28282899;
    --error-text: #fb2c36;
    --border-color: #d1d5dc;
}

@theme inline {
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-secondary-color: var(--secondary-color);
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);
    --color-error-text: var(--error-text);
    --color-border-color: var(--border-color);
    --breakpoint-mid: 550px;
    --font-manrope: "Manrope", sans-serif;
}

body {
    background: var(--background);
}

::-webkit-scrollbar {
    display: none;
}
